modal-reset-password {
    .inputs-container {
        padding: 60px;
    }
    .item-ios {
        padding: 0;
    }
    .button-container {
        padding: 0 36px;
    }
    input-cover {
        width: 0;
    }
    .item-ios.item-block .item-inner {
        border-bottom-width: 1px;
    }
}