<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="viewCtrl.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            找回密码
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="m-container">
        <div class="inputs-container">
            <ion-item>
                <ion-input type="tel" placeholder="手机" clearInput maxlength="11" [(ngModel)]="item.tel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="验证码" clearInput [(ngModel)]="item.smscode"></ion-input>
                <button ion-button [disabled]="smsCodeCounts != 60" (click)="getSmsCode()" item-end>{{smsCodeText}}</button>
            </ion-item>
            <ion-item>
                <ion-input type="{{type}}" placeholder="密码" [(ngModel)]="pwd" clearInput></ion-input>
                <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
                    <ion-icon name="ios-eye-outline"></ion-icon>
                </button>
                <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
                    <ion-icon name="ios-eye-off-outline"></ion-icon>
                </button>
            </ion-item>
        </div>
        <div class="button-container">
            <button ion-button full round [disabled]="pwd == '' || item.tel == '' || item.smscode == ''" (click)="showItem()">完成</button>
        </div>
    </div>
</ion-content>