.ion-ios-bans-car:before { 
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-car.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-car-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-car.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-house:before { 
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-house.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-house-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-house.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-goods:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-goods.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-goods-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/secondhand-goods.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-carpooling:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/carpooling.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-carpooling-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/carpooling.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-housekeeping:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/housekeeping.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-housekeeping-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/housekeeping.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-tourism:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/tourism.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-tourism-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/tourism.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-mall:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/mall.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-mall-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/mall.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-internet:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/internet-work.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-internet-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/internet-work.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-convenience:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/convenience-info.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-convenience-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/convenience-info.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-appliance:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/appliance.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-appliance-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/appliance.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-cleaning:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/cleaning.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-cleaning-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/cleaning.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-maintenance:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/maintenance.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-maintenance-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/maintenance.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-furniture:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/furniture.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-furniture-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/furniture.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-housemaid:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/housemaid.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-housemaid-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/housemaid.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-decoration:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/decoration.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-decoration-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/decoration.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-lock:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/lock.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-lock-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/lock.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-move:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/move.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-move-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/move.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-parttime:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/parttime.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-parttime-outline:before {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    content: "";
    background: url("../assets/ui/parttime.png") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-person:before {
    display: inline-block;
    width: 8.8rem;
    height: 8.8rem;
    content: "";
    background: url("../assets/svgs/person-default.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-person-outline:before {
    display: inline-block;
    width: 8.8rem;
    height: 8.8rem;
    content: "";
    background: url("../assets/svgs/person-default.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-settings:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/settings.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-settings-outline:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/settings.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-advertising:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/advertising.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-advertising-outline:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/advertising.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-tower:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/tower.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-tower-outline:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/tower.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-list:before {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    content: "";
    background: url("../assets/svgs/list.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-list-outline:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/list.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-signature:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/signature.svg") no-repeat 0 0;
    background-size: 100%;
}
.ion-ios-bans-signature-outline:before {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    content: "";
    background: url("../assets/svgs/signature.svg") no-repeat 0 0;
    background-size: 100%;
}